In [9]:
import math

def vol(rad):
    result = ((4/3)*math.pi*(rad**3))
    print(f'The answer is ~{result:.2f}')

In [8]:
vol(25)

The answer is ~65449.85

In [130]:
def ran_check(num,low,high):
    if num in range(low,high):
        print(f'The number "{num}" is in the range {low} and {high}')
    else:
        print(f'The number "{num}" is not in the range {low} and {high}')

In [131]:
ran_check(3,1,10)

The number "3" is in the range 1 and 10

In [129]:
ran_check(15,1,10)

The number "15" is not in the range 1 and 10

In [132]:
def ran_bool(num,low,high):
    return num in range(low,high)

In [136]:
ran_bool(3,1,10)

True

In [135]:
ran_bool(15,1,10)

False

In [137]:
def up_low(s):
    
    upcase = 0
    lowcase = 0
    
    for i in s:
        if i.isupper():
            upcase += 1
        elif i.islower():
            lowcase += 1
        else:
            pass
    
    print(f'Original string : {s}')
    print(f'No. of Upper case characters : {upcase}')
    print(f'No. of Lower case characters : {lowcase}')

In [139]:
s = "Hello Mr. Rogers, how are you this fine Tuesday?"

up_low(s)

Original string : Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33

In [47]:
def unique_list(l):
    return list(set(l))

In [48]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [140]:
def multiply(numbers):
    total = numbers[0]
    for i in numbers:
        total *= i
    return total

In [141]:
multiply([1,2,3,-4])

-24

In [144]:
def palindrome(s):

    mystring = ''.join(s.split()) # or s.replace(' ','')
    return mystring == mystring[::-1]

In [145]:
palindrome('helleh')

True

In [146]:
palindrome('hell')

False

In [147]:
palindrome('nurses run')

True

In [148]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [150]:
ispangram('The quick brown fox jumps over the lazy dog')

True