In [1]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [4]:
myfile = open('myfile.txt')

In [3]:
pwd

'/Users/kb/Documents/JupyterFolder'

myfile.read()

In [5]:
myfile = open('myfile.txt')

In [6]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [7]:
myfile.read()

''

In [8]:
myfile.seek(0)

0

In [9]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [10]:
myfile.seek(0)

0

In [11]:
contents = myfile.read()

In [12]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [13]:
myfile.seek(0)

0

In [14]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [15]:
pwd

'/Users/kb/Documents/JupyterFolder'

In [16]:
myfile.close()

In [17]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [18]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [19]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [20]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [32]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [24]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [33]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [34]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [28]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [29]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTHFOUR ON FOURTH

In [35]:
d = {'k1':{'k2':'hello'}}

In [36]:
d['k1']['k2']

'hello'

In [37]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [39]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [40]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [41]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [42]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [43]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [44]:
3.0 == 3

True

In [45]:
4**0.5 != 2

False

In [46]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False

In [47]:
a = 'hello'
a[::-1]

'olleh'

In [48]:
[0]*3

[0, 0, 0]

In [49]:
list = [5,3,4,6,1]

In [50]:
sorted(list)

[1, 3, 4, 5, 6]