In [2]:
print('Hello world')
print(56+4)

Hello world
60

In [3]:
print('new line')

new line

In [4]:
3+2

5

In [8]:
3/2

1.5

In [11]:
7%4

3

In [12]:
type(5.4)

float

In [14]:
type((1,2))

tuple

In [15]:
mystring = 'Hello World'

In [16]:
mystring

'Hello World'

In [17]:
mystring[:4]

'Hell'

In [18]:
mystring[1:]

'ello World'

In [26]:
mystring[3:5]

'de'

In [20]:
mystring[-2]

'l'

In [21]:
mystring = 'abcdefghijk'

In [22]:
mystring

'abcdefghijk'

In [23]:
mystring[:-2]

'abcdefghi'

In [27]:
mystring

'abcdefghijk'

In [28]:
mystring[3:6]

'def'

In [30]:
mystring[-4:-2]

'hi'

In [32]:
mystring[7:9]

'hi'

In [34]:
mystring[1:8:2]

'bdfh'

In [35]:
mystring[::-1]

'kjihgfedcba'

In [36]:
name = 'Sam'

In [37]:
name = 'P' + name[1:]

In [38]:
name

'Pam'

In [39]:
'z' * 10

'zzzzzzzzzz'

In [40]:
x = 'Hello Word'

In [42]:
x.isupper()

False

In [44]:
x.capitalize()

'Hello word'

In [45]:
x.upper()

'HELLO WORD'

In [46]:
x.split()

['Hello', 'Word']

In [47]:
fullname = 'Benjamin Kwame Oduro'

In [65]:
initials = (fullname.split()[0][0],fullname.split()[1][0],fullname.split()[2][0],'')

In [66]:
'. '.join(initials)

'B. K. O. '

In [67]:
initials

('B', 'K', 'O', '')

In [68]:
type(initials)

tuple

In [69]:
list(initials)

['B', 'K', 'O', '']

In [70]:
fullname.split()

['Benjamin', 'Kwame', 'Oduro']

In [71]:
fullname[::-1]

'orudO emawK nimajneB'

In [72]:
''.join(reversed(fullname))

'orudO emawK nimajneB'

In [80]:
print('Hello What is your name: ')
fullname = input().split()
# fullname.split()
# print(fullname)

firstname = fullname[0]
middlename = fullname[1]
lastname = fullname[2]

print('Your firstname is "{fn}", your middlename is "{mn}", and your lastname is "{ln}".'.format(fn=firstname,mn=middlename,ln=lastname))

Hello What is your name:
Benjamin Kwame Oduro
Your firstname is "Benjamin", your middlename is "Kwame", and your lastname is "Oduro".

In [86]:
result = 100/777

In [87]:
result

0.1287001287001287

In [85]:
print('The result was {r:1.3f}'.format(r=result))

The result was 0.129

In [88]:
print(f'The result was {result:1.3f}')

The result was 0.129

In [91]:
print('My name is {Kwame}'.format(Kwame='Benjamin'))

My name is Benjamin

In [92]:
my_list = ['one','two','three']

In [93]:
my_list[0]

'one'

In [94]:
my_list[1:]

['two', 'three']

In [95]:
'.'.join(my_list)

'one.two.three'

In [96]:
my_list[0] = 'zero'

In [97]:
my_list

['zero', 'two', 'three']

In [98]:
my_list.append('four')

In [99]:
my_list

['zero', 'two', 'three', 'four']

In [100]:
my_list.append('ten')

In [101]:
my_list

['zero', 'two', 'three', 'four', 'ten']

In [102]:
my_list.pop()

'ten'

In [103]:
my_list

['zero', 'two', 'three', 'four']

In [104]:
my_list.append('ten')

In [105]:
popped_item = my_list.pop()

In [106]:
popped_item

'ten'

In [107]:
my_dict = {'key1':'value1','key2':'value2'}

In [108]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [109]:
my_dict['key1']

'value1'

In [110]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [111]:
prices_lookup['apple']

2.99

In [112]:
d = {'key1':['a','b','c']}

In [113]:
d

{'key1': ['a', 'b', 'c']}

In [114]:
d['key1'][2].upper()

'C'

In [115]:
d = {'k1':100,'k2':200}

In [116]:
d['k3'] = 300

In [117]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [118]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [119]:
d.values()

dict_values([100, 200, 300])

In [120]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [121]:
t = (1,2,3)

In [122]:
len(t)

3

In [123]:
type(t)

tuple

In [124]:
t = ('a','a','b')

In [125]:
t.count('a')

2

In [126]:
t.index('a')

0

In [127]:
myset = set()

In [128]:
myset

set()

In [129]:
myset.add(1)

In [130]:
myset

{1}

In [131]:
myset.add(2)

In [132]:
myset

{1, 2}

In [134]:
mylist = [1,1,1,1,2,2,2,2,2,3,3,3,4,5,5,6,6,7,7,8]

In [135]:
myset = set(mylist)

In [136]:
myset

{1, 2, 3, 4, 5, 6, 7, 8}